fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

python-dotenv
pydantic
pydantic-settings
python-multipart

PyJWT
pwdlib[argon2]
psycopg2

requests
beautifulsoup4

tavily-python

langchain
langchain-core
langchain-community
langchain-mistralai
langgraph
langsmith

httpx
typing-extensions