fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic

python-dotenv
pydantic
pydantic-settings
python-multipart

passlib[bcrypt]
python-multipart

PyJWT
passlib
bcrypt

requests
beautifulsoup4

tavily-python

langchain
langchain-core
langchain-community
langchain-mistralai
langgraph
langgraph-checkpoint

httpx

typing-extensions